<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>CarCollectionDetails</display-name>
  
  <welcome-file-list>
          <welcome-file>car.html</welcome-file>
  </welcome-file-list>
  
  
  <servlet-mapping>
		  <servlet-name>Car Details</servlet-name>
		  <url-pattern>/cd</url-pattern>
  </servlet-mapping>
  <servlet>
		  <servlet-name>Car Details</servlet-name>
		  <servlet-class>com.car.collection.details.CarRecords</servlet-class>
		  
  </servlet>
  
  
  
  <servlet-mapping>
		  <servlet-name>CarGetDetails</servlet-name>
		  <url-pattern>/rs</url-pattern>
  </servlet-mapping>
  <servlet>
		  <servlet-name>CarGetDetails</servlet-name>
		  <servlet-class>com.car.collection.details.carDetails</servlet-class>
  </servlet>
  
</web-app>